#theader {
    font-family: Verdana;
    font-size: 12px;
}

.timeform {
    font-family: Courier;
    font-size: 12px;
}

input.time {
    width: 85px;
    margin-right: 5px;
}

.timeline {
    margin-bottom: 5px;
}

td.linenumber {
    text-align: right;
    width: 21px;
    padding-right: 3px;
}