#theader {
    font-family: Verdana;
    font-size: 12px;
}

.timeform {
    font-family: Courier;
    font-size: 12px;
}

input.time {
    width: 86px;
    margin-right: 1px;
}

.timeline {
    margin-bottom: 5px;
}

td.linenumber {
    text-align: right;
    width: 21px;
    padding-right: 5px;
    margin-right: 5px;
}

#timetable .sign {
    width: 10px;
    margin-right: 1px;
    padding-left: 2px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tfooter td {
    text-align: center;
}

#jsonarea {
    display: inline;
    margin-left: 25px;
    margin-top: 3px;
    height: 164px;
    width: 300px;
}

#timetable {
    display: inline;
    float: left;
}

input[type=text] {
    padding-left: 3px;
}

/*#timetable, #timetable tr, #timetable td, #timetable th {
    border: 1px solid black;
}*/