* {
    font-family: Verdana;
    font-size: 12px;
}

.timeform {
    font-family: Courier;
    font-size: 12px;
}

span.timeform {
    display:inline-block;
    margin-right: 5px;
    text-align: right;
    width: 20px;
}

input.time {
    width: 85px;
    margin-right: 5px;
}

.timeline {
    margin-bottom: 5px;
}

#pheader {
    margin-left: 25px;
    margin-bottom: 5px;
    width: 225px;
}

#pheader input {
    margin-left: 35px;
}